<!-- <% provide(:title, ) %> -->
<header>
  <div class="container">
    <div class="area_logo_header">
      <%= link_to(image_tag('logo/logo_header.svg', width: '320'), '/') %>
    </div>
    <nav class="nav_header">
      <ul class="list_nav_header">
        <li><%= link_to('ABOUT', '') %></li>
        <li><%= link_to('FEATURE', '') %></li>
        <li><%= link_to('EXPLORE', '') %></li>
        <li><%= link_to('CONTACT', '') %></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="area_top">
    <p class="ttl">
      J-POPの有名曲を、<br>
      好きなコード進行で検索。
    </p>
    <p class="description">
      覚えたコードで他の曲が弾き語りできたり、<br>
      作曲や編曲のアイデアに活用したり。<br>
      好きな4つのコードで検索を開始できます。
    </p>
  </div>
</main>
<footer>
  <div class="container">
  </div>
</footer>
 