<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="area_logo_header">
      <!-- <%= link_to(image_tag('logo/logo_header.svg', width: '320', alt: 'Chordex logo'), '/', id: 'logo') %> -->
      <%= link_to('Chordex', '/', id: 'logo') %>
    </div>
    <nav class="nav_header">
      <ul class="nav navbar-nav navbar-right list_nav_header">
        <li><%= link_to('ABOUT', '#') %></li>
        <li><%= link_to('FEATURE', '#') %></li>
        <li><%= link_to('EXPLORE', '#') %></li>
        <li><%= link_to('CONTACT', '#') %></li>
      </ul>
    </nav>
  </div>
</header>